<div class="container p-5">
    <div class="row">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">¡Bienvenidos a mi Test!</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare a felis eget efficitur. Nunc mattis tincidunt gravida. Morbi ac diam non nisi ullamcorper laoreet nec eu lorem. Phasellus sit amet nulla eget justo posuere vestibulum sed at dolor. Suspendisse fringilla</p>
            <hr>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare a felis eget efficitur. Nunc mattis tincidunt gravida. Morbi ac diam</p>
        </div>
    </div>
</div>