<div class="container p-5">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Teléfono</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios">
                    <th scope="row">{{ usuario.name }}</th>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.address.city }}</td>
                    <td>{{ usuario.phone }}</td>
                  </tr>
                  <tr *ngIf="loading">
                    <th scope="row">Cargando...</th>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

